%h1 Business Analysis

= simple_form_for @business_analyis, url: business_analysis_index_path, method: :get do |f|
  .row.padded-top
    .large-6.columns.text-center
      = f.input :date_range, label: 'Date Range', input_html: { id: 'business-analysis-date-range', value: @business_analyis.date_range_string, placeholder: 'Set date range, Last 30 days selected by default' }
    .large-6.columns
      = f.submit 'Show Business Analysis', name: 'find_reports', class: 'button round'

.row.padded-top.padded-bottom
  %h2.text-center
    Total cases found:
    = @reports.count

- if setting.enable_accounting?
  .row.padded-top.padded-bottom
    #piechart

.row.padded-top.padded-bottom
  #container

= render "chart"
