.text-center
  %h2 Business Report
  %p= params[:business_report][:date_range]
%hr

- @reports.group_by(&:doctor).each do |doctor, reports|
  .keep-intact
    %p
      = "Dr. #{doctor.name}"
      = "( #{params[:business_report][:date_range]} )"
    %p
      %b Summary :
      %br
      = "Total Cases - #{reports.count}, Total Amount - #{number_to_currency(reports.map(&:cost).inject(:+), unit: '₹')}"
      - reports.group_by(&:reportable_type).each do |reportable_type, reports|
        %br
        = "#{reportable_type.underscore.titleize} - #{reports.count}"
    %table
      %thead
        %tr
          %th S. No.
          %th Patient Name
          %th Age
          %th Sex
          %th Ultrasound Type
          %th Date
      %tbody
        - reports.each_with_index do |report, index|
          %tr
            %td= index + 1
            %td= report.patient.name
            %td= report.patient.age
            %td= report.patient.sex
            %td= report.report_type.reportable.class.name.underscore.titleize
            %td= report.created_at.strftime("%d / %m / %Y")
    %hr
