.text-center
  %h2 Business Report
  %p= params[:business_report][:date_range]
%hr

- @reports.group_by(&:referrer).each do |referrer, reports|
  .keep-intact
    %p
      = referrer.name
      = "( #{params[:business_report][:date_range]} )"
    %p
      %b Summary :
      %table
        %thead
          %tr
            %th Total cases
            %th Total amount collected
            %th Total dues
            %th Total discount
        %tbody
          %tr
            %td= reports.count
            %td= number_to_currency(reports.map(&:amount_collected).inject(:+), unit: 'Rs.')
            %td= number_to_currency(reports.map(&:amount_due).inject(:+), unit: 'Rs.')
            %td= number_to_currency(reports.map(&:referrers_discount).inject(:+), unit: 'Rs.')
    %table
      %thead
        %tr
          %th S. No.
          %th Patient Name
          %th Age
          %th Sex
          %th Date
      %tbody
        - reports.each_with_index do |report, index|
          %tr
            %td= index + 1
            %td= report.patient.name
            %td= report.patient.age
            %td= report.patient.sex
            %td= report.created_at
    %hr
