<h1>Listing Templates</h1>

<table>
  <thead>
    <tr>
      <th>Template name</th>
      <th>Report title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @templates.each do |template| %>
      <tr>
        <td><%= template.name %></td>
        <td><%= template.report_title %></td>
        <td><%= link_to 'Edit', edit_template_path(template) %></td>
        <td><%= link_to 'Export', export_template_path(template) %></td>
        <td><%= link_to 'Delete', template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Template', new_template_path, class: 'button' %>
<%= link_to 'Export all templates', templates_path(format: 'csv'), class: 'button' %>