= simple_form_for :search_reports, url: search_reports_path, method: :get do |f|
  .row
    .large-3.columns
      = f.input :patient_name, input_html: { placeholder: 'Enter name or a part of name' }
    .large-3.columns
      = f.input :date_range, label: 'Date Range', input_html: { id: 'date-range', placeholder: 'Set date range' }
    .large-2.columns
      = f.submit 'Find reports', name: 'find_reports', class: 'button round'
  .row
    .large-4.columns
      = f.input :referrer_id, collection: Referrer.all, label_method: :name, label: 'Referred By', include_blank: true
  .padded-top