.top-bar
  .top-bar-title
    %span{"data-hide-for" => "medium", "data-responsive-toggle" => "responsive-menu"}
      %span.menu-icon.dark{"data-toggle" => ""}
    %strong Ultracare
  #responsive-menu
    .top-bar-right
      %ul.dropdown.menu{"data-dropdown-menu" => ""}
        %li= link_to ' Home', root_path, class: 'fi-home large'
        - unless setting.disable_reports
          %li= link_to ' Reports', new_search_report_path, class: 'fi-list-thumbnails large'
        %li= link_to ' Templates', templates_path, class: 'fi-list-thumbnails large'
        - if setting.enable_accounting?
          %li= link_to ' Business Report', new_business_report_path, class: 'fi-page-export-pdf large'
        %li
          = link_to ' More', '#'
          %ul.menu.vertical
            %li= link_to ' Doctors', doctors_path, class: 'fi-address-book large'
            %li= link_to ' Referrers', referrers_path, class: 'fi-address-book large'
            - unless setting.disable_business_analysis
              %li= link_to ' Business Analysis', business_analysis_index_path(business_analysis: date_range_param_last_month), class: 'fi-graph-pie large'
            %li= link_to ' Settings', edit_setting_path(id: setting.id), class: 'fi-wrench large'
        - if user_signed_in?
          - if current_user.admin?
            %li= link_to ' Admin', rails_admin.dashboard_path, class: 'fi-torso-business large'
          %li= link_to ' Logout', destroy_user_session_path, method: 'delete', class: 'fi-lock large'
        - else
          %li= link_to ' Login', new_user_session_path, class: 'fi-unlock large'
