<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Balrampur Diagnotic Center", root_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Reports", root_path, 'data-no-turbolink' => true %></li>
      <li class="divider"></li>
      <li><%= link_to "Business Analysis", business_analysis_path, 'data-no-turbolink' => true %></li>
      <li class="divider"></li>
      <li><%= link_to "Business Report", business_report_path, 'data-no-turbolink' => true %></li>
      <li class="divider"></li>
      <li><%= link_to "Doctors", doctors_path, 'data-no-turbolink' => true %></li>
      <li class="divider"></li>
      <li><%= link_to "Settings", settings_edit_path %></li>
    </ul>
  </section>
</nav>
