%nav.top-bar{"data-topbar" => ""}
  %ul.title-area
    %li.name
      %h1= link_to "#{setting.print_settings['heading']} - ultracare".upcase, root_path
  %section.top-bar-section
    %ul.right
      - if user_signed_in?
        %li.divider
        %li= link_to " Home", root_path, class: 'fi-home large'
        - unless setting.disable_reports
          %li.divider
          %li= link_to " Reports", reports_path, class: 'fi-list-thumbnails large'
        - unless setting.disable_business_analysis
          - if current_user.admin?
            %li.divider
            %li= link_to " Business Analysis", business_analysis_index_path(business_analysis: date_range_param_last_month), class: 'fi-graph-pie large'
        - unless setting.disable_business_reports
          %li.divider
          %li= link_to " Business Report", new_business_report_path, class: 'fi-page-export-pdf large'
        %li.divider
        %li= link_to " Doctors", doctors_path, class: 'fi-address-book large'
        %li.divider
        %li= link_to " Report Types", report_types_path, class: 'fi-list-thumbnails large'
        %li.divider
        %li= link_to " Settings", edit_setting_path(id: setting.id), class: 'fi-wrench large'
        - if current_user.admin?
          %li.divider
          %li= link_to " Admin", rails_admin.dashboard_path, class: 'fi-torso-business large'
        %li.divider
        %li= link_to " Logout", destroy_user_session_path, method: 'delete', class: 'fi-lock large'
      - else
        %li= link_to " Login", new_user_session_path, class: 'fi-unlock large'
