<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
    <h1><%= link_to "#{setting.print_settings['heading']} - ultracare".upcase, root_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to " Reports", root_path, class: 'fi-list-thumbnails large' %></li>
      <li class="divider"></li>
      <li><%= link_to " Business Analysis", business_analysis_path(search: date_range_param_last_month), class: 'fi-graph-pie large' %></li>
      <li class="divider"></li>
      <li><%= link_to " Business Report", new_business_report_path, class: 'fi-page-export-pdf large' %></li>
      <li class="divider"></li>
      <li><%= link_to " Doctors", doctors_path, class: 'fi-address-book large' %></li>
      <li class="divider"></li>
      <li><%= link_to " Settings", settings_edit_path, class: 'fi-wrench large' %></li>
    </ul>
  </section>
</nav>
