%table
  %thead
    %tr
      %th Report No.
      %th Patient Id
      %th Patient Name
      %th Age
      %th Sex
      %th Report Status
      - if setting.enable_accounting?
        %th Referred By
        %th Amount Collected
        %th Amount Due
      %th Date
      %th Show
      %th Edit
      %th Print
  %tbody
    - reports.each do |report|
      %tr
        %td= report.id
        %td= report.patient.patient_id
        %td= truncate report.patient.name, length: 18
        %td= report.patient.age
        %td= report.patient.sex
        %td= report.status
        - if setting.enable_accounting?
          %td
            - if report.referrer
              = report.referrer.name
          %td= "Rs. #{report.amount_collected}"
          %td= "Rs. #{report.amount_due}"
        %td= report.created_at
        %td.fi-page.small= link_to " Show", report_path(report)
        %td.fi-page-edit.small= link_to " Edit", edit_report_path(report)
        - if report.is_signed_off?
          %td.fi-print.small= link_to " Print", '#', target: '_blank', 'data-report-id' => report.id, class: 'printLink'
        - else
          %td.fi-print.small= link_to " Print", '#', class: 'disabled'