<div class="large-3 medium-4 columns">
  <div class="sidebar">
    <nav>
    <ul class="side-nav">
      <li class="heading"><b>New report</b></li>

      <li><%= link_to "Thyroid Gland", new_report_path(type: 'thyroid_gland') %></li>
      <li><%= link_to "Upper Abdomen", new_report_path(type: 'upper_abdomen') %></li>

      <li class="heading"><b>New report male</b></li>

      <li><%= link_to "Testis", new_report_path(type: 'testis') %></li>
      <li><%= link_to "Whole Abdomen Male", new_report_path(type: 'whole_abdomen_male') %></li>
      <li><%= link_to "KUB Male", new_report_path(type: 'kub_male') %></li>

      <li class="divider"></li>
      <li class="heading"><b>New report female</b></li>

      <li><%= link_to "Breast", new_report_path(type: 'breast') %></li>
      <li><%= link_to "Obstetrics", new_report_path(type: 'obstetric') %></li>
      <li><%= link_to "KUB Female", new_report_path(type: 'kub_female') %></li>
      <li><%= link_to "Whole Abdomen Female", new_report_path(type: 'whole_abdomen_female') %></li>
      <li><%= link_to "Lower Abdomen Female", new_report_path(type: 'lower_abdomen_female') %></li>
    </ul>
    </nav>
  </div>
</div>
