%br
%br
%br
= simple_form_for :search, url: business_analytics_path, method: :get do |f|
  .row.text-center.center
    .large-6.columns
      = f.input :date_range, label: 'Date Range', input_html: { id: 'date-range', value: selected_date_range, placeholder: 'Set date range', readonly: true }
    .large-6.columns
      = f.submit 'Show Business Analytics', name: 'find_reports', class: 'button round'

.row
  = pie_chart @pie_chart_data, {library: {title: 'Doctor wise Business Analysis'}}
.row
  = line_chart(@line_chart_data, {library: {hAxis: {title: "Timeline"}, vAxis: {title: "Reports"}, title: 'Report wise Business Analysis'}})
