%h1.text-center.padded-top Select New Report
.large-12.medium-4.columns.text-center.report-links-section.padded-top
  - @report_types.each do |report_type|
    = link_to report_type.title, new_report_path(report_type_id: report_type.id), class: 'button secondary'
  = link_to "Add new report type", new_report_type_path, class: 'button secondary'

%h2.text-center Recent Reports

= render partial: 'shared/reports_listing'

.text-center
  = link_to('http://www.carepill.in', target: '_blank')do
    = image_tag "carepill_logo.jpg"

= render 'script' if flash[:report_id].present?
