%h2 Reports

%table
  %thead
    %tr
      %th Patient Name
      %th Age
      %th Sex
      %th Refered By Doctor
      %th Ultrasound Type
      %th Date
      %th Edit Report
      %th Print Report
  %tbody
    - @reports.each do |report|
      %tr
        %td= report.patient.name
        %td= report.patient.age
        %td= report.patient.sex
        %td= report.doctor.name
        %td= report.report_type.reportable.class.name.underscore.titleize
        %td= report.created_at.strftime("%d / %m / %Y")
        %td.fi-page-edit.small= link_to " Edit", edit_report_path(report, type: report.report_type.reportable.class.name.underscore)
        %td.fi-print.small= link_to " Print", print_report_path(report), target: '_blank'

= render 'script' if flash[:report_id].present?
