%h1.text-center.padded-top Select New Report
.large-12.medium-4.columns.text-center.report-links-section.padded-top
  - @templates.each do |template|
    = link_to template.title, new_report_path(template_id: template.id), class: 'button secondary'
  = link_to "Add new report type", new_template_path, class: 'button secondary'

%h2.text-center Recent Reports

= render partial: 'shared/reports_listing'

.text-center
  = link_to('http://www.carepill.in', target: '_blank')do
    = image_tag "carepill_logo.jpg"

= render 'script' if flash[:report_id].present?
