%h1.padded-top Select a new report
.row
  .small-6.columns
    = select_tag :template,
      options_from_collection_for_select(@templates, :id, :name),
      include_blank: true,
      class: 'template-selector'
    .right-align
      = link_to 'add new template', new_template_path

.row.padded-top
  %ul#templates
    - @templates.each do |template|
      %li{id: "template_#{template.id}"}
        = link_to template.name, new_report_path(template_id: template.id), class: 'button secondary'

%br
%h1 Recent reports
= render partial: 'shared/reports_listing', locals: { reports: @reports }
.left-align
  = link_to 'See all reports', new_search_report_path
%br

.text-center
  = link_to('http://www.carepill.in', target: '_blank')do
    = image_tag 'carepill_logo.jpg'

= render 'script' if flash[:report_id].present?
