.text-center
  %h1.padded-top Create New Report
  = select_tag :template,
      options_from_collection_for_select(@templates, :id, :name),
      prompt: 'Select a template to start creating new report',
      class: 'template-selector'
  .large-12.medium-4.columns.select-report-section.padded-top
    - @templates.each do |template|
      = link_to template.name, new_report_path(template_id: template.id), class: 'button secondary'
    = link_to 'Add new template', new_template_path, class: 'button secondary'

  %h1 Recent Reports
  = render partial: 'shared/reports_listing'
  .left-align
    = link_to 'See all reports', reports_path
  %br

  = link_to('http://www.carepill.in', target: '_blank')do
    = image_tag "carepill_logo.jpg"

= render 'script' if flash[:report_id].present?

:javascript
  $(function () {
    $('select.template-selector').change(function() {
      var templateId = $(this).val();
      var url = "/reports/new?template_id=" + templateId;
      window.location = url;
    });
  });