= f.input :heading, input_html: {placeholder: 'YOUR DIAGNOSTIC CENTRE'}
= f.input :sub_heading, input_html: {placeholder: 'DIAGNOSTIC ULTRASOUND UNIT'}
= f.input :address, input_html: {placeholder: 'Your address in one line, city name'}
= f.input :phone_number, input_html: {placeholder: '232999'}
= f.input :consultant_1, input_html: {placeholder: 'Name of Doctor (Degree)'}
= f.input :consultant_2, input_html: {placeholder: 'Name of Doctor (Degree)'}

= f.input :signature, as: :ckeditor
= f.input :footer, as: :ckeditor

= f.button :submit, value: 'Update Print Settings', class: 'round'
