%p.text-center
  Header
  = link_to "(reset to default)", "#"
  = f.input :header, as: :ckeditor, label: false

%p.text-center
  Signature
  = link_to "(reset to default)", "#"
  = f.input :signature, as: :ckeditor, label: false

%p.text-center
  Footer
  = link_to "(reset to default)", "#", onclick: "alert('clicked')"
  = f.input :footer, as: :ckeditor, label: false

= f.button :submit, value: 'Update Print Settings', class: 'round'
