%h3.padded-top Print Settings
%hr
= simple_form_for @setting, url: settings_update_path do |f|
  = f.input :heading, input_html: {placeholder: 'BALRAMPUR DIAGNOSTIC CENTRE'}
  = f.input :sub_heading, input_html: {placeholder: 'DIAGNOSTIC ULTRASOUND UNIT'}
  = f.input :address, input_html: {placeholder: 'Opposite - Memorial Hospital, Balrampur'}
  = f.input :phone_number, input_html: {placeholder: '232436'}
  = f.input :consultant_1, input_html: {placeholder: 'Dr. G. D. Goel (MBBS, DCP)'}
  = f.input :consultant_2, input_html: {placeholder: 'Dr. Faissal Faizi (MD)'}
  = f.button :submit, value: 'Update Print Settings', class: 'round'
%h3.padded-top Default Organ Findings
%hr
= form_for @setting, url: settings_update_path do |f|
  - @setting.default_organ_findings.keys.each do |attr|
    = f.text_area attr
  = f.submit 'Update Default Organ Findings', class: 'button round'
