%div.text-center.report-title
  %h3= "Obstetrics U.S.G. Report".upcase
%table{class: @reportable.padding_level}
  %tbody
    %tr
      %td= 'Pregnancy'.upcase
      %td{colspan: 3}= simple_format @reportable.pregnancy, {}, wrapper_tag: 'span'
    %tr
      %td
      %td{colspan: 3}
        %table
          %thead
            %tr
              %td
              %td mm
              %td weeks
              %td days
          %tbody
            - if [@reportable.crl_mm, @reportable.crl_weeks, @reportable.crl_days].map(&:present?).any?
              %tr
                %td
                  %b CRL
                %td= @reportable.crl_mm
                %td= @reportable.crl_weeks
                %td= @reportable.crl_days

            - if [@reportable.bpd_mm, @reportable.bpd_weeks, @reportable.bpd_days].map(&:present?).any?
              %tr
              %tr
                %td
                  %b BPD
                %td= @reportable.bpd_mm
                %td= @reportable.bpd_weeks
                %td= @reportable.bpd_days

            - if [@reportable.fl_mm, @reportable.fl_weeks, @reportable.fl_days].map(&:present?).any?
              %tr
                %td
                  %b FL
                %td= @reportable.fl_mm
                %td= @reportable.fl_weeks
                %td= @reportable.fl_days

            - if [@reportable.ac_mm, @reportable.ac_weeks, @reportable.ac_days].map(&:present?).any?
              %tr
                %td
                  %b AC
                %td= @reportable.ac_mm
                %td= @reportable.ac_weeks
                %td= @reportable.ac_days

            - if [@reportable.hc_mm, @reportable.hc_weeks, @reportable.hc_days].map(&:present?).any?
              %tr
                %td
                  %b HC
                %td= @reportable.hc_mm
                %td= @reportable.hc_weeks
                %td= @reportable.hc_days
    %tr
      %td{colspan: 2}= 'Average G.A.'.upcase
      %td{colspan: 2}= @reportable.average_g_a
    %tr
      %td{colspan: 2}= 'Presentation and Lie'.upcase
      %td{colspan: 2}= @reportable.presentation_and_lie
    %tr
      %td{colspan: 2, width: '35%'}= 'Liquor Volume'.upcase
      %td{colspan: 2}= @reportable.liquor_volume
    %tr
      %td{colspan: 2}= 'Cervix and OS'.upcase
      %td{colspan: 2}= @reportable.cervix_and_o_s
    %tr
      %td{colspan: 2}= 'Fetal heart'.upcase
      - if @reportable.fetal_heart.present?
        %td{colspan: 2}= simple_format @reportable.fetal_heart, {}, wrapper_tag: 'span'
    %tr
      %td= 'Fetal Movements'.upcase
      %td{colspan: 3}
        %table
          %tbody
            %tr
              %td
                %b Head
              %td= @reportable.fetal_head_movement
              %td
                %b Limbs
              %td= @reportable.fetal_limbs_movement
              %td
                %b Breathing
              %td= @reportable.fetal_breathing_movement
    %tr
      %td= 'Placenta'.upcase
      %td{colspan: 3}= @reportable.placenta
    %tr
      %td= 'grade'.upcase
      %td{colspan: 3}= @reportable.grade
    %tr
      %td= 'E.D.D.'.upcase
      %td{colspan: 3}= @reportable.e_d_d
    %tr
      %td= 'E.F.W.'.upcase
      %td{colspan: 3}= @reportable.e_f_w
    %tr
      %td= 'remarks'.upcase
      %td{colspan: 3}= simple_format @reportable.remarks, {}, wrapper_tag: 'span'
    - if @reportable.advise.present?
      %tr
        %td= 'advise'.upcase
        %td{colspan: 3}= simple_format @reportable.advise, {}, wrapper_tag: 'span'
