%div.text-center
  %h3= "Obstetrics U.S.G. Report".upcase
%table
  %tbody
    %tr
      %td= 'Pregnancy'.upcase
      %td{colspan: 3}= @reportable.pregnancy
    %tr
      %td
      %td{colspan: 3}
        %table
          %thead
            %tr
              %td
              %td mm
              %td weeks
              %td days
          %tbody
            %tr
              %td
                %b CRL
              %td= @reportable.crl_mm
              %td= @reportable.crl_weeks
              %td= @reportable.crl_days
            %tr
              %td
                %b BPD
              %td= @reportable.bpd_mm
              %td= @reportable.bpd_weeks
              %td= @reportable.bpd_days
            %tr
              %td
                %b FL
              %td= @reportable.fl_mm
              %td= @reportable.fl_weeks
              %td= @reportable.fl_days
            %tr
              %td
                %b AC
              %td= @reportable.ac_mm
              %td= @reportable.ac_weeks
              %td= @reportable.ac_days
            %tr
              %td
                %b HC
              %td= @reportable.hc_mm
              %td= @reportable.hc_weeks
              %td= @reportable.hc_days
    %tr
      %td{colspan: 2}= 'Average G.A.'.upcase
      %td{colspan: 2}= @reportable.average_g_a
    %tr
      %td{colspan: 2}= 'Presentation and Lie'.upcase
      %td{colspan: 2}= @reportable.presentation_and_lie
    %tr
      %td{colspan: 2, width: '35%'}= 'Liquor Volume'.upcase
      %td{colspan: 2}= @reportable.liquor_volume
    %tr
      %td{colspan: 2}= 'Cervix and OS'.upcase
      %td{colspan: 2}= @reportable.cervix_and_o_s
    %tr
      %td{colspan: 2}= 'Fetal heart'.upcase
      - if @reportable.fetal_heart.present?
        %td{colspan: 2}= convert_to_line_break(@reportable.fetal_heart).html_safe
    %tr
      %td= 'Fetal Movements'.upcase
      %td{colspan: 3}
        %table
          %tbody
            %tr
              %td
                %b Head
              %td= @reportable.fetal_head_movement
              %td
                %b Limbs
              %td= @reportable.fetal_limbs_movement
              %td
                %b Breathing
              %td= @reportable.fetal_breathing_movement
    %tr
      %td= 'Placenta'.upcase
      %td{colspan: 3}= @reportable.placenta
    %tr
      %td= 'grade'.upcase
      %td{colspan: 3}= @reportable.grade
    %tr
      %td= 'E.D.D.'.upcase
      %td{colspan: 3}= @reportable.e_d_d
    %tr
      %td= 'E.F.W.'.upcase
      %td{colspan: 3}= @reportable.e_f_w
    %tr
      %td= 'remarks'.upcase
      %td{colspan: 3}= @reportable.remarks
    %tr
      %td= 'advise'.upcase
      %td{colspan: 3}= @reportable.advise
