%div{style: 'width: 70%; float: left;'}
  %p
    %label Patient Name:
    = @report.patient.name
%div{style: 'width: 30%; float: right;'}
  %p
    %label Age / Sex:
    = "#{@report.patient.age} / #{@report.patient.sex}"
%div{style: 'width: 70%; float: left;'}
  %p
    %label Refered By Doctor:
    = "#{@report.doctor.name} (#{@report.doctor.degree})"
%div{style: 'width: 30%; float: right;'}
  %p
    %label Date:
    = @report.created_at.strftime("%d / %m / %Y")
