%div.text-center.report-title
  %h3= "#{@reportable.class.name.underscore.titleize} U.S.G. Report".upcase
%table{class: @reportable.padding_level}
  %tbody
    - @reportable.printable_fields.each do |field|
      - next if @reportable.attributes[field].blank?
      %tr
        %td= field.humanize.upcase
        %td= simple_format @reportable.attributes[field]

= render partial: 'shared/pdf/impression_advise'

%hr
