%div.text-center
  %h3= "#{@reportable.class.name.underscore.titleize} U.S.G. Report".upcase
%table.high-padding
  %tbody
    %tr
      %td= 'right lobe'.upcase
      %td= @reportable.thyroid_right_lobe
    %tr
      %td= 'left lobe'.upcase
      %td= @reportable.thyroid_left_lobe
    %tr
      %td= 'I.J.V and C.A.'.upcase
      %td= @reportable.i_j_v_and_c_a
    %tr
      %td= 'isthmus'.upcase
      %td= @reportable.isthmus
    - if @reportable.other.present?
      %tr
        %td= 'other'.upcase
        %td= @reportable.other
    - if @reportable.advise.present?
      %tr
        %td= 'advise'.upcase
        %td= @reportable.advise

%p
  %b= 'impression - '.upcase
  = @reportable.impression
  %hr
