%div.text-center
  %h3= "Upper Abdomen U.S.G. Report".upcase
%table{class: @reportable.padding_level}
  %tbody
    - @reportable.printable_fields.each do |field|
      - next if @reportable.attributes[field].blank?
      %tr
        %td= field.humanize.upcase
        - if @reportable.attributes[field].present?
          %td= simple_format @reportable.attributes[field]

%p
  - if @reportable.impression.present?
    %b= 'impression - '.upcase
    = simple_format @reportable.impression

  - if @reportable.advise.present?
    %br
    %b= 'advise - '.upcase
    = simple_format @reportable.advise

%hr

%div.page-break
= render 'shared/pdf/obstetric'
