<div class="large-12 medium-8 columns">
  <h1>Listing referrers</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Degree</th>
        <th>Id</th>
        <th>Edit</th>
      </tr>
    </thead>

    <tbody>
      <% @referrers.each do |referrer| %>
        <tr>
          <td>Dr. <%= referrer.name %></td>
          <td><%= referrer.degree %></td>
          <td><%= referrer.id %></td>
          <td><%= link_to 'Edit', edit_referrer_path(referrer) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate reports, renderer: FoundationPagination::Rails %>
</div>
