.row
  .large-6.medium-8.columns
    - if @referrer.new_record?
      %h1 Add New referrer
    - else
      %h1 Edit referrer details
    = render 'form'
.row
  = render 'listing', referrers: @referrers, reports: @reports
.row
  = link_to 'Export all referrers', referrers_path(format: 'csv'), class: 'button'
.row
  %hr
  %h2 Import Referrers
  = form_tag import_referrers_path, multipart: true do
    = file_field_tag :file, required: true
    = submit_tag 'Import', class: 'button'