%h2.text-center.padded-top= @report.title
%hr

= simple_form_for(@report) do |f|
  .form-container
    = render 'patient', f: f
    = render 'amount_collected', f: f
    %hr
    = f.input :content, as: :ckeditor, label: false, :input_html => { :ckeditor => { :height => 500 } }
    = f.input :title, as: :hidden
    .row
      .small-6.columns
        = f.association :doctor, label_method: :doctor_name,  label: 'Reporting doctor'
    = f.button :submit, class: 'round', 'data-disable-with' => 'submitting..'
    = link_to 'Cancel', root_path, class: 'cancel-link'