= simple_form_for @report, url: save_reports_path, method: :post, html: { id: 'auto-save-report' } do |f|
  .form-container
    %h2.text-center.padded-top.report-title{contenteditable: true}= @report.title
    %hr
    = render 'patient', f: f
    = render 'amount_collected', f: f
    = render 'switch_templates'
    = render 'body', f: f
    = render 'report_status'
    .padded-top
      = f.submit 'Save', class: 'button round'
      = link_to 'Sign off', '#', id: 'sign-off', class: [('hide' if @report.is_signed_off?), 'button', 'round']
      = link_to 'Print', root_path, id: 'print', class: [('hide' unless @report.is_signed_off?), 'button', 'round']
      = link_to 'Cancel', root_path, class: 'cancel-link'