= simple_form_for(@report) do |f|
  .form-container
    %h2.text-center.padded-top.report-title= @report.title
    %hr
    = render 'patient', f: f
    = render 'switch_templates'
    = render 'amount_collected', f: f
    = render 'body', f: f
    .row
      .small-6.columns
        = f.association :doctor, label_method: :name,  label: 'Reporting doctor'
    .padded-top
      = f.button :submit, class: 'round', 'data-disable-with' => 'submitting..'
      = link_to 'Cancel', root_path, class: 'cancel-link'