%h3 Findings
%hr
= f.fields_for :report_type, @report.report_type.reportable do |report_type_fields|
  .row
    .small-6.columns
      =  report_type_fields.input :pregnancy # , priority: ['Confirmed'], collection: ['Confirmed','Single','Viable','Non-Viable','Twins']
    .small-6.columns
      %label{for: "report_patient_attributes_age"} BPD
      .row.collapse
        .small-6.columns
          = report_type_fields.input :bpd, label: false
        .small-6.columns
          %span.postfix mm, weeks, days
  .row
    .small-6.columns
      %label{for: "report_patient_attributes_age"} FL
      .row.collapse
        .small-6.columns
          = report_type_fields.input :fl, label: false
        .small-6.columns
          %span.postfix mm, weeks, days
    .small-6.columns
      %label{for: "report_patient_attributes_age"} AC
      .row.collapse
        .small-6.columns
          = report_type_fields.input :ac, label: false
        .small-6.columns
          %span.postfix mm, weeks, days
  .row
    .small-6.columns
      =  report_type_fields.input :average_g_a, label: 'Average G.A.'
    .small-6.columns
      =  report_type_fields.input :presentation_and_lie
  .row
    .small-6.columns
      =  report_type_fields.input :liquor_volume
    .small-6.columns
      =  report_type_fields.input :cervix_and_o_s, label: 'Cervix and OS'
  =  report_type_fields.input :fetal_heart
  .row
    .small-4.columns
      =  report_type_fields.input :fetal_head_movement
    .small-4.columns
      =  report_type_fields.input :fetal_limbs_movement
    .small-4.columns
      =  report_type_fields.input :fetal_breathing_movement
  .row
    .small-6.columns
      =  report_type_fields.input :placenta
    .small-6.columns
      =  report_type_fields.input :grade
  .row
    .small-6.columns
      =  report_type_fields.input :e_d_d, label: 'E.D.D'
    .small-6.columns
      =  report_type_fields.input :e_f_w, label: 'E.F.W'
  =  report_type_fields.input :remarks, type: :text
  =  report_type_fields.input :advise, type: :text
