%h3 Findings
%hr
= f.fields_for :report_type, @report.report_type.reportable do |report_type_fields|
  .row
    .small-6.columns
      = report_type_fields.input :pregnancy
  .row
    .small-12.columns
      %table
        %thead
          %tr
            %th
            %th mm
            %th weeks
            %th days
        %tbody
          %tr
            %td
              %b CRL
            %td= report_type_fields.input :crl_mm, label: false
            %td= report_type_fields.input :crl_weeks, label: false
            %td= report_type_fields.input :crl_days, label: false
          %tr
            %td
              %b BPD
            %td= report_type_fields.input :bpd_mm, label: false
            %td= report_type_fields.input :bpd_weeks, label: false
            %td= report_type_fields.input :bpd_days, label: false
          %tr
            %td
              %b FL
            %td= report_type_fields.input :fl_mm, label: false
            %td= report_type_fields.input :fl_weeks, label: false
            %td= report_type_fields.input :fl_days, label: false
          %tr
            %td
              %b AC
            %td= report_type_fields.input :ac_mm, label: false
            %td= report_type_fields.input :ac_weeks, label: false
            %td= report_type_fields.input :ac_days, label: false
          %tr
            %td
              %b HC
            %td= report_type_fields.input :hc_mm, label: false
            %td= report_type_fields.input :hc_weeks, label: false
            %td= report_type_fields.input :hc_days, label: false
  .row
    .small-6.columns
      =  report_type_fields.input :average_g_a, label: 'Average G.A.'
    .small-6.columns
      =  report_type_fields.input :presentation_and_lie
  .row
    .small-6.columns
      =  report_type_fields.input :liquor_volume
    .small-6.columns
      =  report_type_fields.input :cervix_and_o_s, label: 'Cervix and OS'
  =  report_type_fields.input :fetal_heart
  .row
    .small-4.columns
      =  report_type_fields.input :fetal_head_movement
    .small-4.columns
      =  report_type_fields.input :fetal_limbs_movement
    .small-4.columns
      =  report_type_fields.input :fetal_breathing_movement
  .row
    .small-6.columns
      =  report_type_fields.input :placenta
    .small-6.columns
      =  report_type_fields.input :grade
  .row
    .small-6.columns
      =  report_type_fields.input :e_d_d, label: 'E.D.D'
    .small-6.columns
      =  report_type_fields.input :e_f_w, label: 'E.F.W'
  =  report_type_fields.input :remarks, type: :text
  =  report_type_fields.input :advise, type: :text
