<%= f.fields_for :patient do |patient_fields| %>
  <div class="row">
    <div class="small-6 columns">
      <%=  patient_fields.input :name, label: 'Patient Name' %>
    </div>
    <div class="small-6 columns">
      <%= f.association :doctor, label: 'Refered By Doctor', include_blank: true, input_html: { class: 'chosen-select' }  %>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <label for="report_patient_attributes_age">Age</label>
      <div class="row collapse">
        <div class="small-6 columns">
          <%=  patient_fields.input :age, label: false %>
        </div>
        <div class="small-6 columns">
          <span class="postfix">years</span>
        </div>
      </div>
    </div>
    <div class="small-6 columns">
      <%= patient_fields.label :sex %>
      <%= patient_fields.select :sex, [['Male', 'M'], ['Female', 'F']], {}, {:class => "custom-dropdown"} %>
    </div>
  </div>
<% end %>
