%hr
.row
  .large-6.columns
    Switch template
    = select_tag :template,
      options_from_collection_for_select(@templates, :id, :name),
      include_blank: true,
      class: 'switch-template'
  .large-6.columns
    .right-align#report-number
      - if @report.persisted?
        = "Report no. #{@report.id}"
    .right-align#report-status= "Report status: #{@report.status}"
.row
  .text-center#report-save-status.padded-top
