%h3 Thyroid Gland Findings
%hr
= f.fields_for :report_type, @report.report_type.reportable do |report_type_fields|
  =  report_type_fields.input :thyroid_left_lobe, label: 'Left lobe', type: :text
  =  report_type_fields.input :thyroid_right_lobe, label: 'Right lobe', type: :text
  =  report_type_fields.input :i_j_v_and_c_a, label: 'I.J.V & C.A.', type: :text
  =  report_type_fields.input :isthmus, type: :text
  =  report_type_fields.input :other, type: :text
  =  report_type_fields.input :impression, type: :text
  =  report_type_fields.input :advise, type: :text
