<h3>Whole abdomen form</h3>
<%= f.fields_for :report_type, WholeAbdomen.new(WholeAbdomen.params) do |report_type_fields| %>
  <%=  report_type_fields.text_area :liver, rows: 3 %>
  <%=  report_type_fields.text_area :gall_bladder, rows: 3 %>
  <%=  report_type_fields.text_area :pancreas, rows: 3 %>
  <%=  report_type_fields.text_area :spleen, rows: 3 %>
<% end %>
