<h2><%= params[:type].titleize %> Report</h2>
<hr/>
<%= simple_form_for(@report) do |f| %>
  <div class="form-container">
    <%= render 'non_editable_patient', f: f %>
    <%= render params['type'], f: f %>
    <%= hidden_field_tag 'type', params['type'] %>
    <%= f.submit %>
  </div>
<% end %>
