%div{style: 'width: 50%; float: left;'}
  %p
    Patient Name:
    = @report.patient.name
%div{style: 'width: 50%; float: right;'}
  %p
    Age / Sex:
    = "#{@report.patient.age} / #{@report.patient.sex}"
%div{style: 'width: 50%; float: left;'}
  %p
    Doctor Name:
    = @report.doctor.name
%div{style: 'width: 50%; float: right;'}
  %p
    Date:
    = @report.created_at.strftime("%d / %m / %Y")
%hr
