!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Ultracare"

    = favicon_link_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = yield :head
    = csrf_meta_tag

  %body
    = render 'shared/navigation'
    = render 'shared/notice' if flash[:notice]
    = render 'shared/alert' if flash[:alert]
    .large-12.medium-12.columns
      .row= yield
    = render 'shared/footer'
