<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : setting.print_settings['heading'] %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr","plugins/google_chart/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'shared/navigation' %>

    <% if current_page?(root_path)  %>
      <%= render 'shared/side_bar' if current_page?(root_path)  %>
      <div class="large-10 medium-8 columns">
        <%= render 'shared/notice' if flash[:notice] %>
        <%= render 'shared/alert' if flash[:alert] %>
        <div class="row"><%= yield %></div>
      </div>
    <% else  %>
      <div class="large-12 medium-12 columns">
        <%= render 'shared/notice' if flash[:notice] %>
        <%= render 'shared/alert' if flash[:alert] %>
        <div class="row"><%= yield %></div>
      </div>
    <% end  %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
